---
import '@styles/post.css'
import Base from '@layouts/Base.astro'

const { frontmatter } = Astro.props
---

<Base title={frontmatter.title} description={frontmatter.description}>
  <main class="grow">
    <div class="mx-auto max-w-3xl px-4 py-12 sm:px-6 lg:px-8">
      <article class="mx-auto max-w-prose">
        <div>
          <p>{frontmatter.updatedAt}</p>
          <h1 class="mt-2 mb-4 text-2xl font-bold sm:text-3xl">
            {frontmatter.title}
          </h1>
        </div>
        <div>
          <img src={frontmatter.visual} alt={frontmatter.title} />
        </div>
        <div class="markdown">
          <slot />
        </div>
      </article>
    </div>
  </main>
</Base>
